In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/GuangjingCao/2025B_WPI_DS3010_Final_Project_Group10/main/mission_launches.csv"

df = pd.read_csv(url)
print(df.head())

   Unnamed: 0.1  Unnamed: 0 Organisation  \
0             0           0       SpaceX
1             1           1         CASC
2             2           2       SpaceX
3             3           3    Roscosmos
4             4           4          ULA

                                            Location  \
0         LC-39A, Kennedy Space Center, Florida, USA
1  Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2                      Pad A, Boca Chica, Texas, USA
3       Site 200/39, Baikonur Cosmodrome, Kazakhstan
4           SLC-41, Cape Canaveral AFS, Florida, USA

                         Date                                        Detail  \
0  Fri Aug 07, 2020 05:12 UTC  Falcon 9 Block 5 | Starlink V1 L9 & BlackSky
1  Thu Aug 06, 2020 04:01 UTC           Long March 2D | Gaofen-9 04 & Q-SAT
2  Tue Aug 04, 2020 23:57 UTC            Starship Prototype | 150 Meter Hop
3  Thu Jul 30, 2020 21:25 UTC  Proton-M/Briz-M | Ekspress-80 & Ekspress-103
4  Thu Jul 30, 2020 11:50 UTC                    Atlas V 541 | Perseverance

  Rocket_Status  Price Mission_Status
0  StatusActive   50.0        Success
1  StatusActive  29.75        Success
2  StatusActive    NaN        Success
3  StatusActive   65.0        Success
4  StatusActive  145.0        Success

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Organisation    4324 non-null   object
 3   Location        4324 non-null   object
 4   Date            4324 non-null   object
 5   Detail          4324 non-null   object
 6   Rocket_Status   4324 non-null   object
 7   Price           964 non-null    object
 8   Mission_Status  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [6]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Organisation', 'Location', 'Date',
       'Detail', 'Rocket_Status', 'Price', 'Mission_Status'],
      dtype='object')

In [7]:
df.describe()

       Unnamed: 0.1   Unnamed: 0
count   4324.000000  4324.000000
mean    2161.500000  2161.500000
std     1248.375611  1248.375611
min        0.000000     0.000000
25%     1080.750000  1080.750000
50%     2161.500000  2161.500000
75%     3242.250000  3242.250000
max     4323.000000  4323.000000